<md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm aria-label="Show User List">
        <md-icon md-font-icon="menu"></md-icon>
    </md-button>
    <h3>Angular Material Starter</h3>
</md-toolbar>

<div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp">
        <md-list>
            <!-- <md-list-item ng-repeat="u in ul.users">
                <md-button ng-click="ul.selectUser(u)" ng-class="{'selected' : u === ul.selected }">
                    <md-icon md-svg-icon="{{u.avatar}}" class="avatar"></md-icon>
                    {{u.name}}
                </md-button>
            </md-list-item> -->
        </md-list>
    </md-sidenav>

    <md-content flex id="content">

        <h2>123</h2>
        <p>123123</p>

        <!-- <md-button class="share" md-no-ink ng-click="ul.makeContact(ul.selected)" aria-label="Share with {{ ul.selected.name }}">
            <md-icon md-svg-icon="share"></md-icon>
        </md-button> -->
    </md-content>
</div>
